:root {
  --theme: rgb(255 255 255);
  --entry: rgb(255 255 255);
  --primary: rgb(30 30 30);
  --secondary: rgb(108 108 108);
  --tertiary: rgb(214 214 214);
  --content: rgb(31 31 31);
  --hljs-bg: rgb(238 238 238);
  --code-bg: rgb(245 245 245);
  --border: rgb(238 238 238);
}

.dark {
  --theme: rgb(16 19 23);
  --entry: rgb(21 26 31);
  --primary: rgb(212 212 213);
  --secondary: rgb(99 111 122);
  --tertiary: rgb(25 30 35);
  --content: rgb(196 196 197);
  --hljs-bg: rgb(21 26 31);
  --code-bg: rgb(43 50 56);
  --border: rgb(31 36 41);
}

.list {
  background: var(--code-bg);
}

.dark.list {
  background: var(--theme);
}
